<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Floklore</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-logo" style="display: flex; align-items: center; gap: 10px;">
            <i class="fa-duotone fa-solid fa-hat-cowboy" style="--fa-primary-color:  hsl(220, 6%, 90%); --fa-secondary-color:  hsl(220, 6%, 90%); font-size: 2.5rem; color:  hsl(220, 6%, 90%);"></i>
            <div class="logo" style="font-size: 2rem; font-weight: bold; color: hsl(220, 6%, 90%); font-family: 'Arial', sans-serif;">Floklore</div>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 style="padding-left: 2%;">Our Courses</h1>
        <div class="course-list" style="padding-bottom: 5%;">
            <div class="course-card" onclick="window.location.href='/AI/AI'">
                <h2>Artificial Intelligence</h2>
                <p>Explore the concepts and applications of AI and machine learning.</p>
            </div>
            <div class="course-card" onclick="window.location.href='/ADA/ADA'">
                <h2>Analysis and Design of Algorithm</h2>
                <p>Learn how to analyze and design efficient algorithms.</p>
            </div>
            <div class="course-card" onclick="window.location.href='/DS/DS'">
                <h2>Data Structures and Algorithms (DSA)</h2>
                <p>Master DSA for problem-solving and interviews.</p>
            </div>
        </div>
    </main>
    <div>

    </div>
    <footer>
        <p>&copy; 2024 Floklore - Empowering Minds</p>
    </footer>
</body>
</html>
