<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Floklore</title>
    <link rel="stylesheet" href="/css/AI.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-logo" style="display: flex; align-items: center; gap: 10px;">
            <i class="fa-duotone fa-solid fa-hat-cowboy" style="--fa-primary-color:  hsl(220, 6%, 90%); --fa-secondary-color:  hsl(220, 6%, 90%); font-size: 2.5rem; color:  hsl(220, 6%, 90%);"></i>
            <div class="logo" style="font-size: 2rem; font-weight: bold; color: hsl(220, 6%, 90%); font-family: 'Arial', sans-serif;">Floklore</div>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <body>
        <h1>AI Courses</h1>
        
            <p>Artificial Intelligence (AI) refers to the simulation of human intelligence in machines that are programmed to think, learn, and problem-solve like humans.</p>
            <p>It involves creating algorithms and models that enable computers to perform tasks such as decision-making, pattern recognition, language understanding, and even visual perception.</p>
            <p>AI can be classified into narrow AI (designed for specific tasks) and general AI (which would exhibit human-like cognitive abilities across a wide range of activities).</p>
            <p>AI is used in applications like speech recognition, autonomous driving, healthcare, and more.</p>
        <h2>Application of AI</h2>
                <ul>
                <li>Healthcare:</li>
                    <p>AI is used for medical diagnosis by analyzing medical images like X-rays and MRIs to identify diseases. For instance, AI systems are being developed to detect skin cancer from images with high accuracy.</p>
                <li>Finance:</li>
                    <p>AI helps in credit scoring by analyzing a borrower’s financial history and other data to predict their creditworthiness. This helps banks decide whether to approve a loan and at what interest rate.</p>
                <li>Security:</li>
                    <p>AI is used for facial recognition by identifying people from images or videos. This technology is used for security purposes, such as identifying criminals or unauthorized individuals.</p>
                <li>Marketing:</li>
                    <p>I is used for targeted advertising by showing ads to people who are most likely to be interested in the product or service being advertised. For example, social media companies use AI to target ads to users based on their interests and demographics.</p>
                <li>Education:</li>
                    <p>AI is used for personalized learning by tailoring educational content to the individual needs of each student. For example, AI-powered tutoring systems can provide students with personalized instruction and feedback.</p>
                </ul>
            </body>
        <div class="course-list">
            
            <div class="course-card" onclick="window.location.href='/AI/8puzzle'">
                <h2>8 Puzzles</h2>
                <p>"Rearranging tiles to reach goal state."</p>
            </div>
            <div class="course-card" onclick="window.location.href='/AI/wumps'">
                <h2>Wumps World</h2>
                <p>"Navigate a hunter to find Wumpus."</p>

            </div>
            <div class="course-card" onclick="window.location.href='/AI/sudoku'">
                <h2>Sudoku</h2>
                <p>"Sudoku is a constraint satisfaction problem"</p>
            </div>
        </div>
    </main>

    <div>

    </div>
    <footer>
        <p>&copy; 2024 Floklore - Empowering Minds</p>
    </footer>
</body>
</html>
