<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses - Floklore</title>
    <link rel="stylesheet" href="/css/ADA.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-logo" style="display: flex; align-items: center; gap: 10px;">
            <i class="fa-duotone fa-solid fa-hat-cowboy" style="--fa-primary-color:  hsl(220, 6%, 90%); --fa-secondary-color:  hsl(220, 6%, 90%); font-size: 2.5rem; color:  hsl(220, 6%, 90%);"></i>
            <div class="logo" style="font-size: 2rem; font-weight: bold; color: hsl(220, 6%, 90%); font-family: 'Arial', sans-serif;">Floklore</div>
        </div>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <body>
        <h1>Analysis and Design of Algorithm Courses</h1>
        
            <p>Analysis and Design of Algorithms courses typically focus on understanding how to approach solving problems through algorithms, evaluating their efficiency, and designing optimal solutions.</p>
            <p> The course introduces fundamental algorithm design paradigms, including divide-and-conquer, greedy algorithms, dynamic programming, and backtracking. </p>
            <p>It emphasizes the analysis of time and space complexity using asymptotic notations such as Big-O, Big-Theta, and Big-Omega, and explores various methods for solving recurrence relations. </p>
            <p>The course ultimately aims to cultivate advanced problem-solving, analytical, and algorithmic design capabilities in its participants.</p>
            <h2>Application of AI</h2>
                <ul>
                <li>Software Development:</li>
                    <p>Algorithms improve program efficiency and scalability by optimizing data handling and processing.</p>
                <li>Machine Learning and AI:</li>
                    <p>Algorithms are used for model training, predictions, and optimization in tasks like classification and clustering.</p>
                <li>Optimization Problems:</li>
                    <p>Algorithms help solve real-world problems by minimizing costs and maximizing efficiency, such as in logistics and resource allocation.</p>
                <li>Cryptography:</li>
                    <p>Algorithms secure data through encryption and decryption methods, protecting communications and digital identities.</p>
                <li>Healthcare:</li>
                <p>Algorithms process medical data for diagnostic tools, patient treatment plans, and medical imaging analysis.                </p>
                </ul>
            </body>
        <div class="course-list">
            
            <div class="course-card" onclick="window.location.href='/ADA/bubble'">
                <h2>Bubble Sort</h2>
                <p>"Simple and comparison-based sorting algorithm."</p>
            </div>
            <div class="course-card" onclick="window.location.href='/ADA/TSM'">
                <h2>Travelling salesman</h2>
                <p>"Optimization problem, finding shortest route visiting multiple cities."</p>

            </div>
            <div class="course-card"  onclick="window.location.href='/ADA/knapsack'">
                <h2>Knapsack Problem</h2>
                <p>"Maximize value within weight constraint."</p>
            </div>
        </div>
    </main>
    <div>
    </div>
    <footer>
        <p>&copy; 2024 Floklore - Empowering Minds</p>
    </footer>
</body>
</html>
